p{
    font-size: 30px;
    background-color: brown;
}

/* @media(max-width : 300px){
p{

    font-size: 25px;
    background-color: aqua;
    
}
} */

@media(min-width : 300px){
p{

    font-size: 25px;
    background-color: aqua;
    
}
}

@media(orientation: landscape){
p{

    font-size: 25px;
    background-color: aqua;
    
}
}

